@charset "UTF-8";
.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}

.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
}

.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

.avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}

.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*--------------------------------------------------*/
/*Drop image accountUpgrade*/
#drop-region {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 60px 40px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

#drop-region:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}

#image-preview {
    margin-top: 20px;
}

#image-preview .image-view {
    display: inline-block;
    position: relative;
    margin-right: 13px;
    margin-bottom: 13px;
}

#image-preview .image-view img {
    max-width: 100px;
    max-height: 100px;
}

#image-preview .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
}

/*------------------------------------------------------*/
/*Post-list content*/
.content {
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content {
    width: 70%;
    float: left;
}

.content .main-content.single {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
}

.content .main-content.single .post-title {
    text-align: center;
    margin-bottom: 40px;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .popular .post {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
}

.content .popular .post img {
    height: 60px;
    width: 75px;
    float: left;
    margin-right: 10px;
}

.content .main-content .post .post-preview i {
    color: #757575;
    font-size: 0.8em;
}

.content .main-content .post .preview-text {
    line-height: 1.5em;
    font-size: 1.03em;
    color: #444;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #006669;
    background: transparent;
    border-radius: 0px;
    color: #006669 !important;
}

.content .main-content .post .read-more:hover {
    background: #006669;
    color: white !important;
    transition: 0.25s;
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .main-content .recent-post-title {
    margin: 20px;
}

.content .sidebar {
    width: 30%;
    float: left;
}

.content .sidebar.single {
    padding: 0px 10px;
}

.content .sidebar .section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section .section-title {
    margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search {
    margin-top: 10px;
}

.content .sidebar .section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

/* AUTH PAGES */

.auth-content {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.auth-content .form-title {
    text-align: center;
}

.auth-content form div {
    margin-bottom: 10px;
}

.auth-content form p {
    text-align: center;
}

.auth-content form p a {
    text-decoration: underline;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h3 {
    color: #5c5b5b;
}

.cd-top-pink {
    background-color: #FF6262;
}

.bg-white-sub {
    background-color: #F2F2F2;
}

.bg-grey {
    background-color: #828282;
}
.bg-grey-sub {
    background-color: #BDBDBD;
}

.btn-pink {
    background-color: #FF6262;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-pink:hover {
    background-color: #ff3333; /*dark 9%*/
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

.btn-teal {
    background-color: #17D0BC;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-teal:hover {
    background-color: #14b8a7; /*dark 5%*/
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

.btn-blue {
    background-color: #44BAF1;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-blue:hover {
    background-color: #12a8ed; /*dark 11%*/
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

.btn-pink-sub {
    background-color: #FFEFEF;
    color: #FF6262;
    font-weight: bold;
}

.btn-pink-sub:hover {
    background-color: #FF6262;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

@font-face { /*requires font from behance*/
    font-family: Manrope;
    src: url(https://fonts.googleapis.com/css?family=Manrope);
    font-style: normal;
    font-weight: 400;
}

.txt {
    font-family: Manrope, sans-serif !important;
}

.txt-hover-bold {}
.txt-hover-bold:hover {
    font-weight: bold;
}

.txt-hover-shadow {}
.txt-hover-shadow:hover {
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

.txt-hover-pink {}
.txt-hover-pink:hover {
    color: #FF6262;
}

.txt-hover-teal {}
.txt-hover-teal:hover {
    color: #17D0BC;
}

.txt-hover-blue {}
.txt-hover-blue:hover {
    color: #44BAF1;
}

.txt-hover-white {}
.txt-hover-white:hover {
    color: #FFFFFF;
}

.txt-bold {
    font-weight: bold;
}

.txt-italic {
    font-style: italic;
}

.txt-pink {
    color: #FF6262;
}

.txt-black {
    color: #333333;
}

.txt-sm {
    font-size: small;
}

.txt-md {
    font-size: medium;
}

.txt-lg {
    font-size: large;
}

.txt-lgr {
    font-size: larger;
}

.border-pink {
    border: 1px solid #FF6262;
}

.border-teal {
    border: 1px solid #17D0BC;
}

.square-icon-sm {
    width: 2.5rem;
    height: 2.5rem;
}

.square-icon-md {
    width: 5rem;
    height: 5rem;
}

.square-icon-lg {
    width: 5.5rem;
    height: 5.5rem;
}

.square-avatar-md {
    width: 10rem;
    height: 10rem;
}

.square-avatar-lg {
    width: 15rem;
    height: 15rem;
}

.logo {
    width: 100px;
    height: 80px;
}